@import '../../app/mixins';
.wrapperSquare {
  width: 100%;
  min-height: 290px;
  padding: 1.5rem;
  box-sizing: border-box;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  background-color: var(--white-color);
  box-shadow: 0px 4px 4px 0px #0000000D;


  .wrapperIcon{
    width: 56px;
    height: 56px;
    margin-bottom: var(--spacing-200);
  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  
    background-color: var(--yellow-color);
  }
  .internSquare{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
  }
  h4{
    @include medium-2xl;
    color: var(--black-font-color);
  }
  p{
    @include regular-xl;
    color: var(--grey-font-color);
  }

}
@media screen and (max-width: 1280px){
  .wrapperSquare {
    min-height: 200px;
    padding: 1rem;
  
    .wrapperIcon{
      width: 46px;
      height: 46px;
      margin-bottom: var(--spacing-100);

      img{
        width: 24px;
        height: 24px;
      
      }
    }
    .internSquare{
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    h4{
      @include medium-xl;
    }
    p{
      @include regular-lg;
    }
  
  }
}
@media screen and (max-width: 768px){
  .wrapperSquare {
    min-height: 150px;
    padding: .5rem;
  
    .wrapperIcon{
      width: 40px;
      height: 40px;
      margin-bottom: var(--spacing-100);

      img{
        width: 20px;
        height: 20px;
      
      }
    }
    .internSquare{
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    h4{
      @include medium-lg;
    }
    p{
      @include regular-md;
    }
  
  }
}
