@import '../mixins';

.portfolioPage {
    padding: var(--padding-wrap);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    color: var(--black-font-color);
}

.pageContent {
    width: 90%;
    display: flex;
    padding-top: var(--spacing-1000);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}